.wp-block[data-type="core/widget-area"]{

    width: 100%;
    max-width: 1500px;

    .wp-block-widget-area__inner-blocks{
        max-width: 100%;
    }

}

.wp-admin{

    &.post-type-post{

        .edit-post-visual-editor{
            width: 740px;
            margin-left: auto;
            margin-right: auto;
        }

    }

    &.post-type-news{

        .edit-post-visual-editor{
            width: 690px;
            margin-left: auto;
            margin-right: auto;
        }

    }

    &.post-type-webinars{

        .edit-post-visual-editor{
            width: 940px;
            margin-left: auto;
            margin-right: auto;
        }

    }

}

@import './scss/settings/vars';

@import './scss/components/globalStyles';