.frontend *,
.wp-customizer #customize-preview *{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

.frontend a,
.wp-customizer #customize-preview a{

    text-decoration: none;

    &:hover, &:focus, &:active{
        outline: none;
    }

}

html{

    scroll-behavior: smooth;
    
}