// GRID

$containerMaxWidth: 1680px;
$containerGutter:   20px;

// COLORS

$themeBlack:    #050508;
$white:         #FFFFFF;
$yellow:        #FFD500;
$gray:          #2F2E2E;
$darkGray:      #242323;
$lightGray:     #4D4D4D;
$lighterGray:   #FAFAFA;
$blue:          #0095FF;
$red:           #E74A43;

$social-facebook:   #4267B2;
$social-twitter:    #1DA1F2;
$social-linkedin:   #0077B5;

// MEDIA BREAKPOINTS

$phoneWidthMax      : 768px;
$tabletWidthMax     : 1199px;
$tabletWidthMin     : $phoneWidthMax + 1;
$desktopWidthMin    : $tabletWidthMax + 1;


// ANIMATIONS

@mixin standard-transition {
    transition: all 0.3s ease;
}