.comments{

    border: 1px solid transparentize($color: $lightGray, $amount: 0.6);
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;

    &__title{
        font-size: var(--wp--preset--font-size--regular);
        border-bottom: 1px solid transparentize($color: $lightGray, $amount: 0.6);
        padding-bottom: 16px;
        margin-bottom: 36px;
    }

    &__add{

        border: 1px solid transparentize($color: $lightGray, $amount: 0.6);
        background: transparent;
        width: 100%;
        padding: 16px;
        text-align: left;
        font-size: var(--wp--preset--font-size--regular);
        cursor: pointer;

        &:hover{
            border-color: $lightGray;
        }
    }

}