@media screen and (max-width: $phoneWidthMax){

    .footer{
        
        text-align: center;

        .wp-block-buttons{

            justify-content: center;
        }

        .wp-block-group{

            display: block;
            border: none;

            .wp-block-group{
                padding-right: 20px!important;
                padding-left: 20px!important;
            }

        }

        &__socials{

            display: flex!important;
            justify-content: center;
        }

    }

}