.header{

    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
    z-index: 100;
    top: 0;
    background-color: white;
    transition: all 0.3s ease;

    &_fixed{
        position: fixed;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__container{
        align-items: center;
        height: 60px;
    }

    & &__logoArea{
        
        .custom-logo-link{
            display: block;
            width: 100%;

            img{
                width: 260px;
                height: 50px;
                object-fit: contain;
            }
        }
    }

    & &Widget{

        height: 60px;
        align-items: center;
        display: flex;

        &:not(:last-child){
            margin-right: 30px;
        }


        &__menu{

            list-style: none;
            display: flex;
            align-items: center;
            margin-left: 30px;

            .menu-item{

                position: relative;

                a{
                    color: $themeBlack;
                }

                &:not(:last-child){

                    margin-right: 40px;

                    &.btn{
                        margin-right: 15px;
                    }

                }

                .sub-menu{

                    display: none;
                    position: absolute;
                    text-align: center;
                    list-style: none;
                    background-color: $white;
                    width: 250px;
                    left: calc(50% - 145px);
                    padding: 25px;

                    .menu-item{

                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;

                        &:not(:last-child){
                            margin-bottom: 10px;
                        }

                        a{
                            margin: 0;
                        }
                    }
                }

            }
        }

    }

    &__menuToggle{
        display: none;
        position: absolute;
        width: 32px;
        height: 22px;
        border: none;
        right: $containerGutter;
        top: 14px;
        flex-direction: column;
        justify-content: space-between;
        background: transparent;
        align-items: flex-end;
        z-index: 100;

        span{
            display: block;
            width: 100%;
            height: 3px;
            background-color: $gray;
            border-radius: 2px;
            opacity: 1;
            transform-origin: 100% 2px;
            transform: rotate(0);
            @include standard-transition
        }

    }

    &__menuArea{

        display: flex;
        justify-content: flex-end;

        .header__utility{
            position: relative;
            left: 0;
        }

    }

    &__utility{
        position: absolute;
        left: 100%;
        display: flex;
        align-items: center;
    }

}

@media screen and (min-width: $desktopWidthMin) {
    .header{

        &Widget{

            &__menu{

                .menu-item{

                    &.menu-item-has-children{

                        &:hover{

                            .sub-menu{
                                display: block;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: $phoneWidthMax) {

    .header{

        padding-top: 10px;
        padding-bottom: 10px;

        &__container{
            height: auto;
            position: relative;
        }

        & &__logoArea{

            .custom-logo-link{

                img{
                    width: 160px;
                }
            }
        }

        & &Widget{

            &__menu{

                position: fixed;
                left: 100%;
                top: 0;
                margin: 0;
                padding-left: 40px;
                padding-top: 80px;
                padding-right: 40px;
                padding-bottom: 40px;
                background-color: $white;
                width: 80vw;
                height: 100vh;
                display: block;
                z-index: 50;
                @include standard-transition();
    
                &::before{
                    content: '';
                    left: -20vw;
                    top: 0;
                    height: 100vh;
                    width: 20vw;
                    background-color: transparentize($color: $themeBlack, $amount: 0.3);
                    opacity: 0;
                }

                &.menu_open{
                    
                    left: 20vw;
                    box-shadow: 0 0 25px 22vw rgba(0,0,0,0.3);
                    &::before{
                        opacity: 1;
                    }
                }

                .menu-item{

                    &.menu-item-has-children{

                        position: relative;

                        &:after{
                            content: '';
                            display: block;
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            background-image: url('./img/caret.svg');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            right: 0;
                            top: 19px;
                        }

                        .sub-menu{

                            position: relative;
                            top: 0;
                            padding: 0;
                            left: 0;
                            background: transparent;

                            .menu-item{

                                text-align: left;

                                a{
                                    font-size: 0.875rem;
                                    margin-left: 0;
                                    line-height: 25px;
                                }
                            }
                        }

                        &.menu-item_open{

                            &:after{
                                transform: rotate(180deg);
                            }

                            .sub-menu{
                                display: block;
                            }

                        }

                    }

                    a{
                        font-size: 1.125rem;
                        line-height: 55px;
                    }
                }

            }
        }

        &__menuToggle{
            display: flex;;
        }

        &__menuArea{
            justify-content: center;
        }
    }

    .menu-open{
        overflow-y: hidden;
    }

}