.partnersClickableBoard{

    .container{
        column-gap: 10px;
        row-gap: 0;
    }

    &__logo{

        width: 100%;
        height: auto;
        scale: 1.2;

        &Wrapper{
            overflow: hidden;
        }

    }

}

.partnersQuery{

    max-width: 930px!important;

    &__item{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;

        &Text{

            &_big{
                font-size: 1.125rem;
                font-weight: bold;
                margin-bottom: 4px!important;
            }

            &_small{
                font-size: 0.875rem;
            }
        }

        &Content{
            padding-right: 100px;
        }

        &Meta{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &Link{

            color: $themeBlack;

            &:hover{
                color: $blue;
            }
        }
    }

}

@media screen and (max-width: $phoneWidthMax) {

    .partnersQuery{

        &__item{

            padding: 0;

            &Content{
                padding: 0;
            }

        }

    }

    .partnersClickableBoard{

        .container{
            padding: 0;
        }
        
    }

}