.postContent{

    &__h1{

    }

    p{

        margin-bottom: 22px;
        line-height: 1.375rem;

        a{
            text-decoration: underline;
        }
    }

    ul, ol{

        padding-left: 30px;

        li{
            margin-bottom: 10px;
        }

    }

}

.archvie__title{
    
}

@media screen and (max-width: $phoneWidthMax) {
    
    .postContent > * {
        padding-left: 20px;
        padding-right: 20px;
    }
}