.recentPosts{

    margin-top: 20px;
    margin-bottom: 35px;

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__title{
        font-size: var(--wp--preset--font-size--large);
        color: $themeBlack;
        font-weight: 400;
    }

    &__linkToAll{
        font-size: var(--wp--preset--font-size--small);
        color: $themeBlack;
    }

    &__grid{
        column-gap: 35px;
    }

    & .recentPost{

        border: 1px solid transparentize($color: $lightGray, $amount: 0.6);

        &__thumbnail{

            width: 100%;
            height: 160px;
            display: block;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        &__content{
            padding: 24px;
        }

        &__title{

            font-size: var(--wp--preset--font-size--large);
            color: $themeBlack;
            font-weight: 700;
            border-bottom: 1px solid transparentize($color: $lightGray, $amount: 0.6);
            display: block;
            padding-bottom: 16px;
            line-height: 25px;
            max-height: 66px;
            overflow: hidden;
            position: relative;

            &::after{
                content: '';
                width: 100%;
                height: 16px;
                position: absolute;
                bottom: 0;
                background-color: white;
                left: 0;
            }

        }

        &:hover{

            .recentPost{

                &__title{

                    color: $yellow;
                }
            }
        }
    }
}