.breadcrumbs{

    .wp-block-image{
        display: flex;
        align-items: center;
        padding-top: 2px;
    }
}

.feature-cover{
    height: 450px;
}

@media screen and (max-width: $phoneWidthMax) {
    
    .breadcrumbs{
        padding-left: 20px!important;
        padding-right: 20px;
    }

    .feature-cover{
        height: 200px;
    }

}