.breadcrumbs{

    .wp-block-image{
        display: flex;
        align-items: center;
        padding-top: 2px;
    }
}

.universalCover{

    height: 450px;
    position: relative;

    & > &__manualBG{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.pdfp_wrapper{

    .cta_wrapper{
        display: none;
    }

}

@media screen and (max-width: $phoneWidthMax) {
    
    .breadcrumbs{
        padding-left: 20px!important;
        padding-right: 20px;
    }

    .universalCover{
        height: 200px;
        min-height: 200px!important;
    }

}