.singleBlogPost{

    border: 1px solid transparentize($color: $lightGray, $amount: 0.6);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;

    & .blogMeta{

        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: var(--wp--preset--font-size--small);
        margin-bottom: 30px;

        & > *{

            &:not(:last-child){

                position: relative;
                margin-right: 9px;
                padding-right: 10px;

                &:after{

                    content: "";
                    display: block;
                    width: 2px;
                    height: 2px;
                    background-color: $themeBlack;
                    border-radius: 50%;
                    position: absolute;
                    right: 0;
                    top: calc(50% - 1px);

                }

            }

        }

        &__userpic{

            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            background-color: $lighterGray;
            padding-right: 0!important;

            &:after{
                display: none!important;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        &__userName{
            color: $themeBlack;
        }
        
        &__share{
            width: 20px;
            height: 20px;
            border: none;
            background: transparent;
            background-image: url('./img/share.svg');
            background-size: contain;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: calc(50% - 10px);
        }

    }

    &__header{
        position: relative;
    }

    & .blogContent{

        &__title{
            font-size: 2.5rem;
            color: $themeBlack;
            margin-bottom: 30px;
        }

        .postContent{

            padding-bottom: 80px;

            p, ul, ol{
                font-size: var(--wp--preset--font-size--large);
                line-height: 1.5;
            }

            ul, ol{

                padding-left: 55px;

                li{
                    margin-bottom: 10px;
                }

            }

            .wp-block-image{
                margin-top: 40px;
                margin-bottom: 40px;
            }

        }


    }

    .blogPost{

        &__social{
            border-top: 1px solid transparentize($color: $lightGray, $amount: 0.6);
            border-bottom: 1px solid transparentize($color: $lightGray, $amount: 0.6);
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

    }


}

.blogPost__stats{

    padding-top: 20px;

    &Container{

        display: flex;

        &:last-child{
            justify-content: flex-end;
        }
    }

    &Item{

        font-size: 0.875rem;

        &:not(:last-child){
            margin-right: 20px;
        }

        &_views{
        }

        &_comments{
        }

        &_likes{

            display: flex;
            align-items: center;

            .postLikes{

                width: 20px;
                margin-left: 4px;
                cursor: pointer;

                path:nth-child(1){
                    fill: $red;
                }

                path:nth-child(2){
                    fill: $white
                }

                &.liked{

                    path:nth-child(2){
                        fill: $red
                    }

                }

            }

        }

    }

    &_small{

        .blogPost__statsItem{

            position: relative;
            padding-left: 28px;
            font-size: 0.75rem;
            height: 16px;
            line-height: 16px;

            &:before{
                content: '';
                display: block;
                position: absolute;
                width: 20px;
                height: 16px;
                left: 0;
                top: calc(50% - 8px);
                background-position: center;
                background-size: auto 100%;
                background-repeat: no-repeat;
            }

            &_views{

                &::before{
                    background-image: url('./img/eye.svg');
                }

            }

            &_comments{

                &::before{
                    background-image: url('./img/comment.svg');
                }

            }
        }
    }

}

.blogPost__social{

    &Link{

        height: 20px;
        width: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
        background-color: $themeBlack;

        &:not(:last-child){
            margin-right: 30px;
        }

        &_facebook{
            mask-image: url('./img/facebook.svg');
            -webkit-mask-image: url('./img/facebook.svg');

            &:hover{
                background-color: $social-facebook;
            }
        }

        &_twitter{
            mask-image: url('./img/twitter.svg');
            -webkit-mask-image: url('./img/twitter.svg');

            &:hover{
                background-color: $social-twitter;
            }
        }

        &_link{
            mask-image: url('./img/link.svg');
            -webkit-mask-image: url('./img/link.svg');

            &:hover{
                background-color: $yellow;
            }
        }

    }

}