.postContent .aligncenter{
    margin-left: auto;
    margin-right: auto;
}

.postContent > *{
    
    width: 100%;
    max-width: calc( var(--wp--style--global--content-size) + 40px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    &.alignwide{
        max-width: var(--wp--style--global--wide-size);
    }

    &.alignfull{
        max-width: none;
    }
    

}

.postContent .wp-block-embed__wrapper iframe{
    width: 100%;
}

.wp-embed-aspect-16-9{

    width: 100%;
    aspect-ratio: calc(16/9);

    .wp-block-embed__wrapper{

        width: 100%;
        height: 100%;

        iframe{
            height: 100%;
        }

    }

}