.postContent .aligncenter{
    margin-left: auto;
    margin-right: auto;
}

.postContent .alignwide{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
}

.postContent > *{

    &:not(.alignwide),
    &:not(.alignfull){
        max-width: var(--wp--style--global--content-size);
        margin-left: auto;
        margin-right: auto;
    }
}

.postContent .wp-block-embed__wrapper iframe{
    width: 100%;
}